.article{
    margin: 5vw;

}

.article-book{
    display: flex;
    align-items: center;
}

.article-book-frontPage{
    margin-right: 5vh;
    height: 70vh;
    border:2px solid white;
}

.article-book-shop{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.article-book-shop img{
    height: 10vh;
    margin-right: 5vw;
    margin-top: 5vh;
    cursor: pointer;

}
.article-paragraph{
    margin-top: 10vh;
}