.cardStories img{
height: 25vh;
cursor: pointer;
border:2px solid white;
}

.cardStories h4{
    cursor: pointer;
}

.cardStories{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 0 0 calc(25.33% - 20px); 
    margin-bottom: 2vh;
    padding: 10px;
    
}
