.backgroundImage{
    background-image: url('../Header/imgHeader/header.png');
    height: 40vh;
    background-repeat: no-repeat;
    padding-left: 5vw;
    padding-top: 5vh;
    display: flex;
   
}

.backgroundImage h1{
    color: aliceblue;
   
}
.backgroundImage h3{
    color: aliceblue;
  
}

.header-CCG{
    height: 20vh;
    border-radius: 10px;
    border:3px solid;  

}
.header-name{
    margin-left: 3vw;
}
.header-media{
  
    display: flex;
    justify-content: end;
}
.header-media img{
    height: 5vh;
    cursor: pointer;
    border:2px solid white;
    border-radius: 100%;
}
.header-media-FB{
    margin-left: 1vw;
    
}
.header-media a{
    height: 5vh;
}