.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to top,
    black,
    rgb(16, 16, 95),
    rgb(102, 102, 181) ,
    rgb(16, 16, 95) 75%
    );
    
}

.navBar p{
    color: aliceblue;
     padding: 0.5vw 1vw;
     position: relative;
     transition: 0.5s;
    border-radius: 20px; 
}

.navBar p:hover{
     box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8);  
    border-radius: 20px;  
    padding: 0.5vw 1vw;
    transition: 0.5s;
    background-color: black;
  
}
